<html><body>
{% if success %}
<h1>Authentication completed successfully! Now go use your app!</h1>
{% else %}
<h1>Something went wrong :( Please try again in a few minutes.</h1>
{%endif%}
<h2>Accounts</h2>
<ul>
    {% for account in accounts %}
    <li>{{ account.number }} - {{account.display_name}}</li>
    {% endfor %}
</ul>
<h2>Info</h2>
<p>{{info}}</p>
</body></html>